.weblink { color:blue; }

.thlabel { font-weight:bold; width:200px; float:right; }

description
{
height:auto;
overflow:auto;
}

treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect.  */
  list-style-image: none;
}

treechildren::-moz-tree-checkbox(checked) {
  /* css for checked cells. cbox-check.gif isn't available in Firefox 1, 2, and 3 on Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

treechildren::-moz-tree-cell-text(header_bold)
{
  font-weight:bold;
}